@page "/runes/adcsupp"
@using Newtonsoft.Json;
@layout EmptyLayout
<PageTitle>Runes Overlay Adc adn Supp</PageTitle>

<div class="perks">
    @**@
    @{
        string backgroundPicture;
        if (RunesPage.overlay.BackgroundPicture == false)
        {
            backgroundPicture = "";
        }
        else
        {
            backgroundPicture = formatingData.BakgroundPicture;
        }

        string colorForegroundBackground;
        if (RunesPage.overlay.ForegroundBackground == false)
        {
            colorForegroundBackground = "";
        }
        else
        {
            colorForegroundBackground = formatingData.OverlayColorBackgroudGradient;
        }
    }
    <div class="perks-background">
        @*Bakground color*@
        <div class="perks-background-gradiant" style="background-image: @formatingData.BackgroudGradient">
            @*Black veil*@
            <div class="perks-background-color" style="background-image: @colorForegroundBackground">
            </div>
        </div>
        @*Bakground picture*@
        <img class="perks-background-img" src="@backgroundPicture" />
    </div>
    @*Lane picture*@
    <div class="lane-picture-adc">
        <img class="lane-picture-img" src="@formatingData.LanePictureAdc" />
    </div>
    <div class="lane-picture-supp">
        <img class="lane-picture-img" src="@formatingData.LanePictureSupp" />
    </div>
    @foreach (var participants in DataProcessing.Runes.summonerPerksList)
    {
        @if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0 || participants.Lane.CompareTo(DataProcessing.Runes.Lanes.Support) == 0)
        {
            if (participants.TeamId == 100)
            {
                if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0)
                {
                    @*Display name*@
                    <div class="summoner-name-adc-blue" style="color: @formatingData.BlueSideColorTextSummoner">
                        @participants.SummonerName
                    </div>

                    @*Display champ picture*@
                    <div class="champ-picture-adc-blue">
                        <img class="champ-picture-adc-img" style="border: @formatingData.BlueSideColorBorderChampion" src="@GetChampionPicturePath(participants.ChampionId)" />
                    </div>
                }
                else
                {
                    @*Display name*@
                    <div class="summoner-name-supp-blue" style="color: @formatingData.BlueSideColorTextSummoner">
                        @participants.SummonerName
                    </div>

                    @*Display champ picture*@
                    <div class="champ-picture-supp-blue">
                        <img class="champ-picture-supp-img" style="border: @formatingData.BlueSideColorBorderChampion" src="@GetChampionPicturePath(participants.ChampionId)" />
                    </div>
                }
            }
            else
            {
                if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0)
                {
                    @*Display name*@
                    <div class="summoner-name-adc-red" style="color: @formatingData.RedSideColorTextSummoner;">
                        @participants.SummonerName
                    </div>

                    @*Display champ picture*@
                    <div class="champ-picture-adc-red">
                        <img class="champ-picture-adc-img" style="border: @formatingData.RedSideColorBorderChampion" src="@GetChampionPicturePath(participants.ChampionId)" />
                    </div>
                }
                else
                {
                    @*Display name*@
                    <div class="summoner-name-supp-red" style="color: @formatingData.RedSideColorTextSummoner;">
                        @participants.SummonerName
                    </div>

                    @*Display champ picture*@
                    <div class="champ-picture-supp-red">
                        <img class="champ-picture-supp-img" style="border: @formatingData.RedSideColorBorderChampion" src="@GetChampionPicturePath(participants.ChampionId)" />
                    </div>
                }
            }

            <div class="perks-list">
                @foreach (int perks in participants.Perks.perkIds)
                {
                    if (participants.TeamId == 100)
                    {
                        if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0)
                        {
                            @*Display perks*@
                            <div class="perks-wrapper-adc-blue">
                                <img class="perks-img-adc-blue" src="@GetPerksIconPath(perks)" />
                            </div>
                        }
                        else
                        {
                            @*Display perks*@
                            <div class="perks-wrapper-supp-blue">
                                <img class="perks-img-supp-blue" src="@GetPerksIconPath(perks)" />
                            </div>
                        }
                    }
                    else
                    {
                        if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0)
                        {
                            @*Display perks*@
                            <div class="perks-wrapper-adc-red">
                                <img class="perks-img-adc-red" src="@GetPerksIconPath(perks)" />
                            </div>
                        }
                        else
                        {
                            @*Display perks*@
                            <div class="perks-wrapper-supp-red">
                                <img class="perks-img-supp-red" src="@GetPerksIconPath(perks)" />
                            </div>
                        }
                    }
                }
            </div>
            if (participants.TeamId == 100)
            {
                if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0)
                {
                    @*Perks separator bar*@
                    <div class="separation-bar-adc-blue" style="background-color: @formatingData.BlueSideColorSeparationBar">
                    </div>
                }
                else
                {
                    @*Perks separator bar*@
                    <div class="separation-bar-supp-blue" style="background-color: @formatingData.BlueSideColorSeparationBar">
                    </div>
                }
            }
            else
            {
                if (participants.Lane.CompareTo(DataProcessing.Runes.Lanes.ADC) == 0)
                {
                    @*Perks separator bar*@
                    <div class="separation-bar-adc-red" style="background-color: @formatingData.RedSideColorSeparationBar">
                    </div>
                }
                else
                {
                    @*Perks separator bar*@
                    <div class="separation-bar-supp-red" style="background-color: @formatingData.RedSideColorSeparationBar">
                    </div>
                }
            }
        }
    }
</div>


@code {
    private System.Timers.Timer timer = new(5000);

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose() => timer.Dispose();
}
