@page "/champselect/view1"
@using OSL_Server.DataReciveClient.Processing.ChampSelect;
@using System.Timers
@using static OSL_Server.Pages.ChampSelectView1Page.ChampSelect
@layout EmptyLayout

<PageTitle>Champ Select Overlay 1</PageTitle>
@if (overlayLoaded)
{
    if (ChampSelectPage.OverlayText.OverlayBackground == false)
    {
        OverlayBackground = "none";
    }
    else
    {
        OverlayBackground = OverlayBackgroundSave;
    }
    <div class="display-champ-select" style="background: url(@OverlayBackground)">
        <div class="overlay-type-1">
            <div class="champ-select-header">
                <div class="chamSelect-header-blue-info">
                    <h1 style="color: @BlueTeamNameColor">@BlueSideTeamName</h1>
                    <h5 style="color: @BlueTeamSubtextColor">@BlueTeamSubtext</h5>
                </div>
                <div class="chamSelect-header-blue-logo" style="visibility: @PictureExist(BlueLogo)">
                    <img class="chamSelect-header-blue-logo" src="@BlueLogo" />
                </div>
                <div class="chamSelect-header-blue-timer">
                    @{
                        if (SideInProgress() == 1)
                        {
                            timerBlue = true;
                            if (timerRed == true)
                            {
                                //Timer précédent était rouge
                                currentCount = 0;
                                timerRed = false;
                                timerBlueRed = false;
                            }
                            int timer = 0;
                            timer = timePhase - currentCount;
                            //DateTime date1 = DateTime.Now;
                            //long timer2 = timePhase - Int16.Parse(date1.ToString("ss"));
                            //Console.WriteLine(timer);
                            if (timer <= 0)
                            {
                                timer = 0;
                            }
                            if (timer <= 9)
                            {
                                <div class="timer timer-blue">
                                    <div class="timer-bg" style="background: @BlueSideTimerBackgroudColor; border: @BlueSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-blue" style="left: 50px; color: @BlueSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="timer timer-blue">
                                    <div class="timer-bg" style="background: @BlueSideTimerBackgroudColor; border: @BlueSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-blue" style="color: @BlueSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                        }
                        else if (SideInProgress() == 0)
                        {
                            timerBlueRed = true;
                            if (timerRed == true || timerBlue == true)
                            {
                                //Timer précédent était rouge
                                currentCount = 0;
                                timerRed = false;
                                timerBlue = false;
                            }
                            int timer = 0;
                            timer = timePhase - currentCount;
                            if (timer <= 0)
                            {
                                timer = 0;
                            }
                            if (timer <= 9)
                            {
                                <div class="timer timer-blue">
                                    <div class="timer-bg" style="background: @BlueSideTimerBackgroudColor; border: @BlueSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-blue" style="left: 50px; color: @BlueSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="timer timer-blue">
                                    <div class="timer-bg" style="background: @BlueSideTimerBackgroudColor; border: @BlueSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-blue" style="color: @BlueSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div className="chamSelect-header-keystone">
                    @{
                        if (SideInProgress() == 1)
                        {
                            //27
                            //Afficher BAN_PICK et la phase de pick ou de ban en cours
                        }
                        else if (SideInProgress() == 2)
                        {
                            //27
                            //Afficher BAN_PICK et la phase de pick ou de ban en cours
                        }
                        else if (SideInProgress() == 0)
                        {
                            //59sec
                            //Afficher finalization
                        }
                    }
                </div>
                <div class="chamSelect-header-red-timer">
                    @{
                        if (SideInProgress() == 2)
                        {
                            timerRed = true;
                            if (timerBlue == true)
                            {
                                //Timer précédent était rouge
                                currentCount = 0;
                                timerBlue = false;
                                timerBlueRed = false;
                            }
                            int timer = 0;
                            timer = timePhase - currentCount;
                            if (timer <= 0)
                            {
                                timer = 0;
                            }
                            if (timer <= 9)
                            {
                                <div class="timer timer-red">
                                    <div class="timer-bg" style="background: @RedSideTimerBackgroudColor; border: @RedSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-red" style="left: 50px; color: @RedSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="timer timer-red">
                                    <div class="timer-bg" style="background: @RedSideTimerBackgroudColor; border: @RedSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-red" style="color: @RedSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                        }
                        else if (SideInProgress() == 0)
                        {
                            timerBlueRed = true;
                            if (timerRed == true || timerBlue == true)
                            {
                                //Timer précédent était rouge
                                currentCount = 0;
                                timerRed = false;
                                timerBlue = false;
                            }
                            int timer = 0;
                            timer = timePhase - currentCount;
                            if (timer <= 0)
                            {
                                timer = 0;
                            }
                            if (timer <= 9)
                            {
                                <div class="timer timer-red">
                                    <div class="timer-bg" style="background: @RedSideTimerBackgroudColor; border: @RedSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-red" style="left: 50px; color: @RedSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="timer timer-red">
                                    <div class="timer-bg" style="background: @RedSideTimerBackgroudColor; border: @RedSideTimerBorderColor">
                                        <div class="timer-inner" id="timer-red" style="color: @RedSideTimerTexteColor">@timer</div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="chamSelect-header-red-logo" style="visibility: @PictureExist(RedLogo)">
                    <img class="chamSelect-header-red-logo" src="@RedLogo" />
                </div>
                <div class="chamSelect-header-red-info">
                    <h1 style="color: @RedTeamNameColor">@RedSideTeamName</h1>
                    <h5 style="color: @RedTeamSubtextColor">@RedTeamSubtext</h5>
                </div>
            </div>

            @*Middle*@
            <div class="champ-select-center">
                @*Blue side display informations*@
                <div class="side" id="blueSide">
                    @{
                        for (int indexChamp = 0; indexChamp < @ChampSelectInfo.session.MyTeam.Count(); indexChamp++)
                        {
                            <div class="champ-wrapper">
                                <div class="base-color-background" style="background: @BlueSideBackgroudColor; border: @BlueSideBorderColor"></div>
                                <div class="gradient-background-overlay"></div>
                                <div class="summoner-object-component">
                                    <div class="summoner-object-wrapper" style="color: @BlueSideTexteColor;">
                                        @*Champion picture*@
                                        <div class="champ-picture" style="background-image: url(@getChampId(indexChamp, 1)); top: 5px; bottom: 5px; left: 5px; right: 5px;"></div>
                                        @*Curent action*@
                                        <div class="action-text">@getCurentAction(indexChamp, 1)</div>
                                        @*SummonerName*@
                                        <div class="summoner-name">@getSummonerName(indexChamp, 1)</div>
                                        <div class="summoner-spells">
                                            @*Summoners Spells*@
                                            @{
                                                if (SideInProgress() == 0 && @ChampSelectPage.OverlayText.DisplaySummonerSpell == true)
                                                {
                                                    <img class="spell" src="@getSpell(indexChamp, 1, 1)">
                                                    <img class="spell" src="@getSpell(indexChamp, 1, 2)">
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="champ-select-keystone">
                </div>

                @*Red side display informations*@
                <div class="side" id="redSide">
                    @{
                        for (int indexChamp = 0; indexChamp < @ChampSelectInfo.session.TheirTeam.Count(); indexChamp++)
                        {
                            <div class="champ-wrapper">
                                <div class="base-color-background" style="background: @RedSideBackgroudColor; border: @RedSideBorderColor"></div>
                                <div class="gradient-background-overlay"></div>
                                <div class="summoner-object-component">
                                    <div class="summoner-object-wrapper" style="color: @RedSideTexteColor">
                                        @*Champion picture*@
                                        <div class="champ-picture" style="background-image: url(@getChampId(indexChamp, 2)); top: 5px; bottom: 5px; left: 5px; right: 5px;"></div>
                                        @*Curent action*@
                                        <div class="action-text">@getCurentAction(indexChamp, 2)</div>
                                        @*SummonerName*@
                                        <div class="summoner-name">@getSummonerName(indexChamp, 2)</div>
                                        <div class="summoner-spells">
                                            @*Summoners Spells*@
                                            @{
                                                if (SideInProgress() == 0 && @ChampSelectPage.OverlayText.DisplaySummonerSpell == true)
                                                {
                                                    <img class="spell" src="@getSpell(indexChamp, 2, 1)">
                                                    <img class="spell" src="@getSpell(indexChamp, 2, 2)">
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            @*Footer*@
            <div class="champ-select-footer">
                @*Footer ban blue side*@
                <div class="bans" id="blueBans">
                    @{
                        int i = 0;
                        @*Ban already completed*@
                        for (i = 0; i < ChampSelectInfo.session.Bans.MyTeamBans.Count(); i++)
                        {
                            <div class="ban-wrapper">
                                <img class="ban-wrapper ban-veil" src="@DefaultSquare(i, 1)" />
                                <img class="ban-icon" src="@BanOverlayPicture">
                            </div>
                        }

                        @*Ban in progress*@
                        foreach (var action in ChampSelectInfo.session.Actions)
                        {
                            foreach (var inaction in action)
                            {
                                //if (inaction.Completed == false && inaction.Type.Equals("ban") && (inaction.PickTurn == 1 || inaction.PickTurn == 3 || inaction.PickTurn == 5 || inaction.PickTurn == 8 || inaction.PickTurn == 10))
                                if (inaction.Completed == false)
                                {
                                    if (inaction.Type.Equals("ban"))
                                    {
                                        int teamNumMyTeam = 0;
                                        foreach (var inmyTeam in ChampSelectInfo.session.MyTeam)
                                        {
                                            if (inmyTeam.CellId == inaction.ActorCellId)
                                            {
                                                teamNumMyTeam = inmyTeam.TeamNum;
                                            }
                                        }
                                        if (teamNumMyTeam == 1)
                                        {
                                            <div class="ban-wrapper ban-background" style="background-color: @BanBackgroundColor">
                                                <img class="ban-wrapper ban-blink" src="@BanBackgroundPicture" />
                                            </div>
                                            i++;
                                        }
                                    }
                                }
                                //else if (inaction.Completed == false && inaction.Type.Equals("ban") && (inaction.PickTurn == 2 || inaction.PickTurn == 4) && (ChampSelectInfo.session.Bans.MyTeamBans.Count() >= 3))
                                //{
                                //    <div class="ban-wrapper ban-background" style="background-color: @BanBackgroundColor">
                                //        <img class="ban-wrapper ban-blink" src="@BanBackgroundPicture" />
                                //    </div>
                                //    i++;
                                //}
                            }
                        }

                        @*Ban on hold*@
                        for (int j = i; j < 5; j++)
                        {
                            <div class="ban-wrapper">
                                <img class="ban-wrapper" src="@BanBackgroundPicture" />
                            </div>
                        }
                    }
                </div>

                @*Footer keystone*@
                <div className="champ-select-footer-keystone">
                </div>

                @*Footer ban red side*@
                <div class="bans" id="redBans">
                    @{
                        int k = 0;
                        @*Ban already completed*@
                        for (k = 0; k < ChampSelectInfo.session.Bans.TheirTeamBans.Count(); k++)
                        {
                            <div class="ban-wrapper">
                                @*<img class="ban-wrapper ban-veil" src="../assets/12.12/fr_fr/Champions/@ChampSelectInfo.session.Bans.TheirTeamBans[k]/Skins/@champDefaultSkinNumber(k)/@champDefaultSkinNumber(k)_Tile.jpg" />*@
                                <img class="ban-wrapper ban-veil" src="@DefaultSquare(k, 2)" />
                                <img class="ban-icon" src="@BanOverlayPicture">
                            </div>
                        }

                        @*Ban in progress*@
                        foreach (var action in ChampSelectInfo.session.Actions)
                        {
                            foreach (var inaction in action)
                            {
                                if (inaction.Completed == false)
                                {
                                    if (inaction.Type.Equals("ban"))
                                    {
                                        int teamNumTheirTeam = 0;
                                        foreach (var inTheirTeam in ChampSelectInfo.session.TheirTeam)
                                        {
                                            if (inTheirTeam.CellId == inaction.ActorCellId)
                                            {
                                                teamNumTheirTeam = inTheirTeam.TeamNum;
                                            }
                                        }
                                        if (teamNumTheirTeam == 2)
                                        {
                                            <div class="ban-wrapper">
                                                <div class="ban-background" style="margin-left: 4px; background-color: @BanBackgroundColor"></div>
                                                <img class="ban-wrapper ban-blink" src="@BanBackgroundPicture" />
                                            </div>
                                            k++;
                                        }
                                    }
                                }
                                //if (inaction.Completed == false)
                                //{
                                //    if (inaction.Type.Equals("ban"))
                                //    {
                                //        int teamTheirTeam = ChampSelectInfo.session.TheirTeam[0].TeamName;
                                //        int cellIdTheirTeam = ChampSelectInfo.session.TheirTeam[0].CellId;
                                //        //int teamtheirTeam = ChampSelectInfo.session.TheirTeam[0].TeamName;
                                //        if (inaction.ActorCellId == cellIdTheirTeam && teamTheirTeam == 2)
                                //        {
                                //            <div class="ban-wrapper">
                                //                <div class="ban-background" style="margin-left: 4px; background-color: @BanBackgroundColor"></div>
                                //                <img class="ban-wrapper ban-blink" src="@BanBackgroundPicture" />
                                //            </div>
                                //            k++;
                                //        }
                                //    }
                                //}
                                //if (inaction.Completed == false && inaction.Type.Equals("ban") && (inaction.PickTurn == 2 || inaction.PickTurn == 4 || inaction.PickTurn == 6 || inaction.PickTurn == 7 || inaction.PickTurn == 9))
                                //if (inaction.Completed == false && inaction.Type.Equals("ban") && (inaction.PickTurn == 2 || inaction.PickTurn == 4 || inaction.PickTurn == 6) && (ChampSelectInfo.session.Bans.TheirTeamBans.Count() <= 2))
                                //{
                                //    <div class="ban-wrapper">
                                //        <div class="ban-background" style="margin-left: 4px; background-color: @BanBackgroundColor"></div>
                                //        <img class="ban-wrapper ban-blink" src="@BanBackgroundPicture" />
                                //    </div>
                                //    k++;
                                //}
                                //else if (inaction.Completed == false && inaction.Type.Equals("ban") && (inaction.PickTurn == 1 || inaction.PickTurn == 3) && (ChampSelectInfo.session.Bans.TheirTeamBans.Count() >= 3))
                                //{
                                //    <div class="ban-wrapper">
                                //        <div class="ban-background" style="margin-left: 4px; background-color: @BanBackgroundColor"></div>
                                //        <img class="ban-wrapper ban-blink" src="@BanBackgroundPicture" />
                                //    </div>
                                //    k++;
                                //}
                            }
                        }

                        @*Ban on hold*@
                        for (int j = k; j < 5; j++)
                        {
                            <div class="ban-wrapper">
                                <img class="ban-wrapper" src="@BanBackgroundPicture" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert">
        <h1><strong>Info!</strong> Champ Select view 1 is disabled</h1>
    </div>

}


@code {
    private bool timerBlue = false;
    private bool timerRed = false;
    private bool timerBlueRed = false;
    private int currentCount = 0;
    private static int timePhase = 0;
    private System.Timers.Timer timer = new(1000);
    private static int alreadyInit = 0;

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            currentCount++;
            StateHasChanged();
        });
    }

    public void Dispose() => timer.Dispose();

}
