@using MudBlazor
@using System.Globalization

@* ---------------- Color picker component ---------------- *@
<div class="d-flex align-items-center my-2" style="gap:8px; display:flex; align-items:center;">
    <MudText Typo="Typo.body1">@Label</MudText>

    @* ---------------- Button display color and for display color picker ---------------- *@
    <MudButton Variant="Variant.Filled"
               Style="@($"background:{CssColor}; min-width:36px; height:36px; border-radius:6px; border:2px solid #ffffff;")"
               OnClick="TogglePicker">
    </MudButton>

    @* ---------------- Color picker ---------------- *@
    <MudPopover Open="@_open"
                AnchorOrigin="Origin.BottomCenter"
                TransformOrigin="Origin.TopCenter"
                Elevation="8"
                >
        <MudPaper Class="p-2">
            <MudItem md="12" Class="d-flex justify-center">
                <MudColorPicker Value="@Value"
                                ValueChanged="OnPickerValueChanged"
                                DisableAlpha="false"
                                PickerVariant="PickerVariant.Static"
                                ShowToolbar="true"
                                ShowAlpha="true"
                                ShowColorField="true"
                                ShowPreview="true"
                                ShowSliders="true"
                                ShowInputs="true"
                                ShowModeSwitch="true"
                                ColorPickerMode="ColorPickerMode.HEX" />
            </MudItem>

            @* Close button *@
            <MudStack Row="false" Spacing="1" Class="mt-2">
                <MudButton Variant="Variant.Text" OnClick="() => _open = false">Close</MudButton>
            </MudStack>
        </MudPaper>
    </MudPopover>

    @* ---------------- hexa or rgba code ---------------- *@
    <MudText Typo="Typo.body2" Class="font-mono" Style="margin-right:2px;">@DisplayCode</MudText>

    @if (!string.IsNullOrWhiteSpace(HelperText))
    {
        <MudText Typo="Typo.caption" Class="ml-2" Style="color:var(--mud-palette-text-secondary);">@HelperText</MudText>
    }
</div>
