@using OSL_Overlay.GameFlow.ChampSelect
<div class="team @Side">
    @if (Team.ShowLogo)
    {
        <Image Class="team-logo" ImageUrl="@Team.Logo" />
    }
    @if (Team.ShowName)
    {
        <Txt Class="team-name" Text="@Team.Name" />
    }
    @if (Team.ShowTag)
    {
        <Txt Class="team-tag" Text="@Team.Tag" />
    }
    @if (Team.BoGraphic.Show)
    {
        <BoGraphicSlot Class="bo-graphic" Bo="@Team.BoGraphic" />
    }
</div>

@code {
    [Parameter] public string Side { get; set; } = string.Empty;
    [Parameter] required public Team Team { get; set; }

}
