@page "/ingame/view1"
@layout EmptyLayout

<PageTitle>In Game Overlay 1</PageTitle>

@*<img class="ingame-overlay-picture" src="@formatingData.OverlayBackground" />*@

@*<div class="display-in-game" style="background: url(@formatingData.OverlayBackground)">*@
    <div class="display-in-game">
    @{
        if (formatingData.DisplayDragonTimer)
        {
            <div class="dragon-timer">
                <img class="dragon-timer-frame" src="@formatingData.DragonTimerFrame">
            </div>
        }

        if (formatingData.DisplayBlueTeam)
        {
            <div class="blue-team">
                @if (formatingData.DisplayBlueTeamScore)
                {
                    <img class="blue-team-score-banner" src="@formatingData.TeamScoreBanner">
                    <div class="blue-team-score">
                        <div class="blue-team-score-text-display" style="color: @formatingData.ColorBlueTeamScoreText">
                            @formatingData.BlueTeamScoreText
                        </div>
                    </div>
                }
                @if (formatingData.DisplayBlueTeamText)
                {
                    @*<div class="blue-team-banner" style="background-image: url(@formatingData.TeamBanner)"></div>*@
                    <img class="blue-team-banner" src="@formatingData.TeamBanner">
                    <div class="blue-team-text">
                        <div class="blue-team-text-display"style="color: @formatingData.ColorBlueTeamText">
                            @formatingData.BlueTeamText
                        </div>
                    </div>
                }
            </div>
        }
        //<div class="red-team-text">
        //    <img class="red-team-text-banner" src="@formatingData.TeamBanner">
        //    @formatingData.RedTeamText
        //</div>
        if (formatingData.DisplayRedTeam)
        {
            <div class="red-team">
                @if (formatingData.DisplayRedTeamScore)
                {
                    <img class="red-team-score-banner" src="@formatingData.TeamScoreBanner">
                    <div class="red-team-score">
                        <div class="red-team-score-text-display"style="color: @formatingData.ColorRedTeamScoreText">
                            @formatingData.RedTeamScoreText
                        </div>
                    </div>
                }
                @*<div class="blue-team-banner" style="background-image: url(@formatingData.TeamBanner)"></div>*@
                @if (formatingData.DisplayRedTeamText)
                {
                    <img class="red-team-banner" src="@formatingData.TeamBanner">
                    <div class="red-team-text">
                        <div class="red-team-text-display" style="color: @formatingData.ColorRedTeamText">
                            @formatingData.RedTeamText
                        </div>
                    </div>
                }
            </div>
        }

        if (formatingData.DisplayHeraldBaronTimer)
        {

            <div class="herald-baron-timer">
                <img class="herald-baron-timer-frame" src="@formatingData.HeraldBaronTimerFrame">
            </div>
        }

        if (formatingData.DisplayBluePlayerFrame)
        {

            <div class="blue-player">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div class="blue-player-frame">
                            <img class="frame" src="@formatingData.BluePlayerFrame">
                        </div>
                    }
                }
            </div>
        }

        if (formatingData.DisplayRedPlayerFrame)
        {
            <div class="red-player">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div class="red-player-frame">
                            <img class="frame" src="@formatingData.RedPlayerFrame">
                        </div>
                    }
                }
            </div>
        }
        if (formatingData.DisplayLeftInfo)
        {
            <div class="left-info">
                <img class="left-info-all" src="@formatingData.LeftInfoFrame">
            </div>
        }
        if (formatingData.DisplayRightInfo)
        {
            <div class="right-info">
                <img class="right-info-all" src="@formatingData.RightInfoFrame">
            </div>
        }
    }

</div>

@code {
    private System.Timers.Timer timer = new(1000);

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose() => timer.Dispose();
}
