@page "/ingame/view1_1"
@layout EmptyLayout

<PageTitle>In Game Overlay 1</PageTitle>

@*<img class="ingame-overlay-picture" src="@formatingData.OverlayBackground" />*@

@*<div class="display-in-game" style="background: url(@formatingData.OverlayBackground)">*@
<div class="display-in-game">
    @{

        <div>
            @*nextDrake : @TimerControl.nextDrake

        <br>nextHerald : @TimerControl.nextHerald
        <br>nextHelder : @TimerControl.nextHelder
        <br>nextBaron : @TimerControl.nextBaron
        <br>buffHerald : @TimerControl.buffHerald
        <br>buffHelder : @TimerControl.buffHelder
        <br>buffBaron : @TimerControl.buffBaron
        <br>gameTimer : @TimerControl.gameTimer*@
            @*</div>*@
            @*<br />*@
            @*<div>*@

            @*@foreach (var drakeOrder in DataProcessing.InGame.gameInformation.Order.Drakes)
        {
        <div>
        drake Order : @drakeOrder
        </div>
        }
        @foreach (var drakeChaos in DataProcessing.InGame.gameInformation.Chaos.Drakes)
        {
        <div>
        drake Chaos : @drakeChaos
        </div>
        }*@

            @*</div>*@
            @*<br>*@
            @*<div>*@
            @*@if (DataProcessing.InGame.gameInformation.Order.HelderKill)
        {
        <div>
        @DataProcessing.InGame.gameInformation.Order.HelderKill
        @foreach (var championBuff in DataProcessing.InGame.gameInformation.Order.Summoners)
        {
        <div>
        ChampionBuff SummonerName : @championBuff.SummonerName
        ChampionBuff Buffed : @championBuff.HelderBuff
        </div>
        }
        </div>
        }
        else if (DataProcessing.InGame.gameInformation.Chaos.HelderKill)
        {
        <div>
        @DataProcessing.InGame.gameInformation.Chaos.HelderKill
        @foreach (var championBuff in DataProcessing.InGame.gameInformation.Chaos.Summoners)
        {
        <div>
        ChampionBuff SummonerName : @championBuff.SummonerName
        ChampionBuff Buffed : @championBuff.HelderBuff
        </div>
        }
        </div>
        }*@
            @*</div>*@
            @*<br>*@
            @*<div>*@
            @*@if (DataProcessing.InGame.gameInformation.Order.BaronKill)
        {
        <div>
        @DataProcessing.InGame.gameInformation.Order.BaronKill
        @foreach (var championBuff in DataProcessing.InGame.gameInformation.Order.Summoners)
        {
        <div>
        ChampionBuff SummonerName : @championBuff.SummonerName
        ChampionBuff Buffed : @championBuff.BaronBuff
        </div>
        }
        </div>
        }
        else if (DataProcessing.InGame.gameInformation.Chaos.BaronKill)
        {
        <div>
        @DataProcessing.InGame.gameInformation.Chaos.BaronKill
        @foreach (var championBuff in DataProcessing.InGame.gameInformation.Chaos.Summoners)
        {
        <div>
        ChampionBuff SummonerName : @championBuff.SummonerName
        ChampionBuff Buffed : @championBuff.BaronBuff
        </div>
        }
        </div>
        }*@
            @*</div>*@
            @*<br>*@
            @*<div>*@
            @*@if (DataProcessing.InGame.gameInformation.Order.Herald.Killed)
        {
        <div>
        @DataProcessing.InGame.gameInformation.Order.Herald.Killed
        @DataProcessing.InGame.gameInformation.Order.Herald.Take
        </div>
        }
        else if (DataProcessing.InGame.gameInformation.Chaos.Herald.Killed)
        {
        <div>
        @DataProcessing.InGame.gameInformation.Chaos.Herald.Killed
        @DataProcessing.InGame.gameInformation.Chaos.Herald.Take
        </div>
        }

        @foreach (var summoner in DataProcessing.InGame.gameInformation.Order.Summoners)
        {
        @foreach (var items in summoner.Items)
        {
        int idItem = items.ItemID;
        int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
        int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
        int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
        string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

        @if (OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].To.Count() == 0)
        {
        <div class="perks-wrapper">
        <div class="perks-wrapper-frame">
        <img class="perks-img" src="@iconPath" />
        </div>
        </div>
        }
        }
        }
        @foreach (var summoner in DataProcessing.InGame.gameInformation.Chaos.Summoners)
        {
        @foreach (var items in summoner.Items)
        {
        int idItem = items.ItemID;
        int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
        int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
        int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
        string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

        @if (OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].To.Count() == 0)
        {
        <div class="perks-wrapper">
        <div class="perks-wrapper-frame">
        <img class="perks-img" src="@iconPath" />
        </div>
        </div>
        }
        }
        }*@

            @foreach (var summoner in DataProcessing.InGame.gameInformation.Order.Summoners)
            {
                @foreach (var items in summoner.Items)
                {
                    int idItem = items.ItemID;
                    if (ItemToDisplay(idItem))
                    {
                        int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
                        int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
                        int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
                        string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

                        if (summoner.PositionIndice == 0)
                        {
                            <div class="order-item-wrapper-0">
                                <div class="order-item-wrapper-frame">
                                    <div class="order-item-info">
                                        <img class="order-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 1)
                        {
                            <div class="order-item-wrapper-1">
                                <div class="order-item-wrapper-frame">
                                    <div class="order-item-info">
                                        <img class="order-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 2)
                        {
                            <div class="order-item-wrapper-2">
                                <div class="order-item-wrapper-frame">
                                    <div class="order-item-info">
                                        <img class="order-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 3)
                        {
                            <div class="order-item-wrapper-3">
                                <div class="order-item-wrapper-frame">
                                    <div class="order-item-info">
                                        <img class="order-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 4)
                        {
                            <div class="order-item-wrapper-4">
                                <div class="order-item-wrapper-frame">
                                    <div class="order-item-info">
                                        <img class="order-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }

            @foreach (var summoner in DataProcessing.InGame.gameInformation.Chaos.Summoners)
            {
                @foreach (var items in summoner.Items)
                {
                    int idItem = items.ItemID;
                    if (ItemToDisplay(idItem))
                    {
                        int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
                        int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
                        int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
                        string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

                        if (summoner.PositionIndice == 5)
                        {
                            <div class="chaos-item-wrapper-0">
                                <div class="chaos-item-wrapper-frame">
                                    <div class="chaos-item-info">
                                        <img class="chaos-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 6)
                        {
                            <div class="chaos-item-wrapper-1">
                                <div class="chaos-item-wrapper-frame">
                                    <div class="chaos-item-info">
                                        <img class="chaos-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 7)
                        {
                            <div class="chaos-item-wrapper-2">
                                <div class="chaos-item-wrapper-frame">
                                    <div class="chaos-item-info">
                                        <img class="chaos-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 8)
                        {
                            <div class="chaos-item-wrapper-3">
                                <div class="chaos-item-wrapper-frame">
                                    <div class="chaos-item-info">
                                        <img class="chaos-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                        if (summoner.PositionIndice == 9)
                        {
                            <div class="chaos-item-wrapper-4">
                                <div class="chaos-item-wrapper-frame">
                                    <div class="chaos-item-info">
                                        <img class="chaos-item-img" src="@iconPath" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }







            @*@foreach (var summoner in DataProcessing.InGame.gameInformation.Chaos.Summoners)
        {
        @foreach (var items in summoner.Items)
        {
        int idItem = items.ItemID;
        int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
        int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
        int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
        string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

        @if (OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].To.Count() == 0)
        {
        <div class="perks-wrapper">
        <div class="perks-wrapper-frame">
        <img class="perks-img" src="@iconPath" />
        </div>
        </div>
        }
        }
        }*@



            @foreach (var summoner in DataProcessing.InGame.gameInformation.Order.Summoners)
            {
                @if (summoner.Levels.Level == 6 || summoner.Levels.Level == 11 || summoner.Levels.Level == 16 || summoner.Levels.Level == 18)
                {
                    // @summoner.Levels.ToShow
                    // if (summoner.Levels.ToShow)
                    // {
                    if (summoner.PositionIndice == 0)
                    {
                        <div class="order-level-wrapper-0">
                            <div class="order-level-wrapper-frame">
                                <div class="order-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 1)
                    {
                        <div class="order-level-wrapper-1">
                            <div class="order-level-wrapper-frame">
                                <div class="order-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 2)
                    {
                        <div class="order-level-wrapper-2">
                            <div class="order-level-wrapper-frame">
                                <div class="order-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 3)
                    {
                        <div class="order-level-wrapper-3">
                            <div class="order-level-wrapper-frame">
                                <div class="order-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 4)
                    {
                        <div class="order-level-wrapper-4">
                            <div class="order-level-wrapper-frame">
                                <div class="order-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    // summoner.Levels.ToShow = false;
                    // }
                }
            }
            @foreach (var summoner in DataProcessing.InGame.gameInformation.Chaos.Summoners)
            {
                @if (summoner.Levels.Level == 6 || summoner.Levels.Level == 11 || summoner.Levels.Level == 16 || summoner.Levels.Level == 18)
                {
                    // @summoner.Levels.ToShow
                    // if (summoner.Levels.ToShow)
                    // {
                    if (summoner.PositionIndice == 5)
                    {
                        <div class="chaos-level-wrapper-0">
                            <div class="chaos-level-wrapper-frame">
                                <div class="chaos-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 6)
                    {
                        <div class="chaos-level-wrapper-1">
                            <div class="chaos-level-wrapper-frame">
                                <div class="chaos-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 7)
                    {
                        <div class="chaos-level-wrapper-2">
                            <div class="chaos-level-wrapper-frame">
                                <div class="chaos-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 8)
                    {
                        <div class="chaos-level-wrapper-3">
                            <div class="chaos-level-wrapper-frame">
                                <div class="chaos-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    if (summoner.PositionIndice == 9)
                    {
                        <div class="chaos-level-wrapper-4">
                            <div class="chaos-level-wrapper-frame">
                                <div class="chaos-level-text">
                                    @summoner.Levels.Level
                                </div>
                            </div>
                        </div>
                    }
                    // summoner.Levels.ToShow = false;
                    // }
                }
            }

        </div>

        //<img style="position: absolute" src="/assets/ingame/frame/LiveGame-View1.png" />

        <div class="dragon-banner-kill">
            <div class="dragon-banner-kill-order">
                <div>
                    <img class="dragon-banner-kill-order-banner" src="/assets/ingame/banner/dragon_banner.png">
                </div>
                <div>
                    @foreach (string dragon in DataProcessing.InGame.gameInformation.Order.Drakes)
                    {
                        <img class="dragon-banner-kill-order-icon" src="@GetDragonPath(dragon)">
                    }
                    @if (DataProcessing.InGame.gameInformation.Chaos.Drakes.Count() == 4)
                    {
                        for (int i = 0; i < DataProcessing.InGame.gameInformation.Order.Drakes.Count() - 4; i++)
                        {
                            <img class="dragon-banner-kill-order-icon" src="@GetDragonPath("no_dragon")">
                        }
                    }
                </div>
            </div>
            <div class="dragon-banner-kill-chaos">
                <div>
                    <img class="dragon-banner-kill-chaos-banner" src="/assets/ingame/banner/dragon_banner.png">
                </div>
                <div>
                    @foreach (string dragon in DataProcessing.InGame.gameInformation.Chaos.Drakes)
                    {
                        <img class="dragon-banner-kill-chaos-icon" src="@GetDragonPath(dragon)">
                    }
                    @if (DataProcessing.InGame.gameInformation.Order.Drakes.Count() == 4)
                    {
                        for (int i = 0; i < 4 - DataProcessing.InGame.gameInformation.Chaos.Drakes.Count(); i++)
                        {
                            <img class="dragon-banner-kill-chaos-icon" src="@GetDragonPath("no_dragon")">
                        }
                    }
                </div>
            </div>
        </div>






        if (formatingData.DisplayDragonTimer)
        {
            <div class="dragon-timer">
                <img class="dragon-timer-frame" src="@formatingData.DragonTimerFrame">
            </div>
        }

        if (formatingData.DisplayBlueTeam)
        {
            <div class="blue-team">
                @if (formatingData.DisplayBlueTeamScore)
                {
                    <img class="blue-team-score-banner" src="@formatingData.TeamScoreBanner">
                    <div class="blue-team-score">
                        <div class="blue-team-score-text-display" style="color: @formatingData.ColorBlueTeamScoreText">
                            @formatingData.BlueTeamScoreText
                        </div>
                    </div>
                }
                @if (formatingData.DisplayBlueTeamText)
                {
                    @*<div class="blue-team-banner" style="background-image: url(@formatingData.TeamBanner)"></div>*@
                    <img class="blue-team-banner" src="@formatingData.TeamBanner">
                    <div class="blue-team-text">
                        <div class="blue-team-text-display" style="color: @formatingData.ColorBlueTeamText">
                            @formatingData.BlueTeamText
                        </div>
                    </div>
                }
            </div>
        }
        //<div class="red-team-text">
        //    <img class="red-team-text-banner" src="@formatingData.TeamBanner">
        //    @formatingData.RedTeamText
        //</div>
        if (formatingData.DisplayRedTeam)
        {
            <div class="red-team">
                @if (formatingData.DisplayRedTeamScore)
                {
                    <img class="red-team-score-banner" src="@formatingData.TeamScoreBanner">
                    <div class="red-team-score">
                        <div class="red-team-score-text-display" style="color: @formatingData.ColorRedTeamScoreText">
                            @formatingData.RedTeamScoreText
                        </div>
                    </div>
                }
                @*<div class="blue-team-banner" style="background-image: url(@formatingData.TeamBanner)"></div>*@
                @if (formatingData.DisplayRedTeamText)
                {
                    <img class="red-team-banner" src="@formatingData.TeamBanner">
                    <div class="red-team-text">
                        <div class="red-team-text-display" style="color: @formatingData.ColorRedTeamText">
                            @formatingData.RedTeamText
                        </div>
                    </div>
                }
            </div>
        }

        if (formatingData.DisplayHeraldBaronTimer)
        {

            <div class="herald-baron-timer">
                <img class="herald-baron-timer-frame" src="@formatingData.HeraldBaronTimerFrame">
            </div>
        }

        if (formatingData.DisplayBluePlayerFrame)
        {

            <div class="blue-player">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div class="blue-player-frame">
                            <img class="frame" src="@formatingData.BluePlayerFrame">
                        </div>
                    }
                }
            </div>
        }

        if (formatingData.DisplayRedPlayerFrame)
        {
            <div class="red-player">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div class="red-player-frame">
                            <img class="frame" src="@formatingData.RedPlayerFrame">
                        </div>
                    }
                }
            </div>
        }
        if (formatingData.DisplayLeftInfo)
        {
            <div class="left-info">
                <img class="left-info-all" src="@formatingData.LeftInfoFrame">
            </div>
        }
        if (formatingData.DisplayRightInfo)
        {
            <div class="right-info">
                <img class="right-info-all" src="@formatingData.RightInfoFrame">
            </div>
        }
    }

</div>

@code {
    private System.Timers.Timer timer = new(1000);

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose() => timer.Dispose();
}
