@page "/ingame/view1_1"
@layout EmptyLayout

<PageTitle>In Game Overlay 1</PageTitle>

@*<img class="ingame-overlay-picture" src="@formatingData.OverlayBackground" />*@

@*<div class="display-in-game" style="background: url(@formatingData.OverlayBackground)">*@
<div class="display-in-game">
    @{

        <div>
            nextDrake : @TimerControl.nextDrake

            <br>nextHerald : @TimerControl.nextHerald
            <br>nextHelder : @TimerControl.nextHelder
            <br>nextBaron : @TimerControl.nextBaron
            <br>buffHerald : @TimerControl.buffHerald
            <br>buffHelder : @TimerControl.buffHelder
            <br>buffBaron : @TimerControl.buffBaron
            <br>gameTimer : @TimerControl.gameTimer
            @*</div>*@
            <br />
            @*<div>*@

            @foreach (var drakeOrder in DataProcessing.InGame.gameInformation.Order.Drakes)
            {
                <div>
                    drake Order : @drakeOrder
                </div>
            }
            @foreach (var drakeChaos in DataProcessing.InGame.gameInformation.Chaos.Drakes)
            {
                <div>
                    drake Chaos : @drakeChaos
                </div>
            }

            @*</div>*@
            <br>
            @*<div>*@
            @if (DataProcessing.InGame.gameInformation.Order.HelderKill)
            {
                <div>
                    @DataProcessing.InGame.gameInformation.Order.HelderKill
                    @foreach (var championBuff in DataProcessing.InGame.gameInformation.Order.Summoners)
                    {
                        <div>
                            ChampionBuff SummonerName : @championBuff.SummonerName
                            ChampionBuff Buffed : @championBuff.HelderBuff
                        </div>
                    }
                </div>
            }
            else if (DataProcessing.InGame.gameInformation.Chaos.HelderKill)
            {
                <div>
                    @DataProcessing.InGame.gameInformation.Chaos.HelderKill
                    @foreach (var championBuff in DataProcessing.InGame.gameInformation.Chaos.Summoners)
                    {
                        <div>
                            ChampionBuff SummonerName : @championBuff.SummonerName
                            ChampionBuff Buffed : @championBuff.HelderBuff
                        </div>
                    }
                </div>
            }
            @*</div>*@
            <br>
            @*<div>*@
            @if (DataProcessing.InGame.gameInformation.Order.BaronKill)
            {
                <div>
                    @DataProcessing.InGame.gameInformation.Order.BaronKill
                    @foreach (var championBuff in DataProcessing.InGame.gameInformation.Order.Summoners)
                    {
                        <div>
                            ChampionBuff SummonerName : @championBuff.SummonerName
                            ChampionBuff Buffed : @championBuff.BaronBuff
                        </div>
                    }
                </div>
            }
            else if (DataProcessing.InGame.gameInformation.Chaos.BaronKill)
            {
                <div>
                    @DataProcessing.InGame.gameInformation.Chaos.BaronKill
                    @foreach (var championBuff in DataProcessing.InGame.gameInformation.Chaos.Summoners)
                    {
                        <div>
                            ChampionBuff SummonerName : @championBuff.SummonerName
                            ChampionBuff Buffed : @championBuff.BaronBuff
                        </div>
                    }
                </div>
            }
            @*</div>*@
            <br>
            @*<div>*@
            @if (DataProcessing.InGame.gameInformation.Order.Herald.Killed)
            {
                <div>
                    @DataProcessing.InGame.gameInformation.Order.Herald.Killed
                    @DataProcessing.InGame.gameInformation.Order.Herald.Take
                </div>
            }
            else if (DataProcessing.InGame.gameInformation.Chaos.Herald.Killed)
            {
                <div>
                    @DataProcessing.InGame.gameInformation.Chaos.Herald.Killed
                    @DataProcessing.InGame.gameInformation.Chaos.Herald.Take
                </div>
            }

            @foreach (var summoner in DataProcessing.InGame.gameInformation.Order.Summoners)
            {
                @foreach (var items in summoner.Items)
                {
                    int idItem = items.ItemID;
                    int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
                    int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
                    int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
                    string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

                    @if (OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].To.Count() == 0)
                    {
                        <div class="perks-wrapper">
                            <div class="perks-wrapper-frame">
                                <img class="perks-img" src="@iconPath" />
                            </div>
                        </div>
                    }
                }
            }
            @foreach (var summoner in DataProcessing.InGame.gameInformation.Chaos.Summoners)
            {
                @foreach (var items in summoner.Items)
                {
                    int idItem = items.ItemID;
                    int indexPatch = OSL_CDragon.CDragon.dataCDragon.Patch.FindIndex(obj => obj.Name == formatingData.DefaultPatch);
                    int indexRegion = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region.FindIndex(obj => obj.Name == formatingData.DefaultRegion);
                    int indexPerks = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items.FindIndex(obj => obj.Id == idItem);
                    string iconPath = OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].IconPath;

                    @if (OSL_CDragon.CDragon.dataCDragon.Patch[indexPatch].Region[indexRegion].RegionContent.Items[indexPerks].To.Count() == 0)
                    {
                        <div class="perks-wrapper">
                            <div class="perks-wrapper-frame">
                                <img class="perks-img" src="@iconPath" />
                            </div>
                        </div>
                    }
                }
            }

        </div>










        if (formatingData.DisplayDragonTimer)
        {
            <div class="dragon-timer">
                <img class="dragon-timer-frame" src="@formatingData.DragonTimerFrame">
            </div>
        }

        if (formatingData.DisplayBlueTeam)
        {
            <div class="blue-team">
                @if (formatingData.DisplayBlueTeamScore)
                {
                    <img class="blue-team-score-banner" src="@formatingData.TeamScoreBanner">
                    <div class="blue-team-score">
                        <div class="blue-team-score-text-display" style="color: @formatingData.ColorBlueTeamScoreText">
                            @formatingData.BlueTeamScoreText
                        </div>
                    </div>
                }
                @if (formatingData.DisplayBlueTeamText)
                {
                    @*<div class="blue-team-banner" style="background-image: url(@formatingData.TeamBanner)"></div>*@
                    <img class="blue-team-banner" src="@formatingData.TeamBanner">
                    <div class="blue-team-text">
                        <div class="blue-team-text-display" style="color: @formatingData.ColorBlueTeamText">
                            @formatingData.BlueTeamText
                        </div>
                    </div>
                }
            </div>
        }
        //<div class="red-team-text">
        //    <img class="red-team-text-banner" src="@formatingData.TeamBanner">
        //    @formatingData.RedTeamText
        //</div>
        if (formatingData.DisplayRedTeam)
        {
            <div class="red-team">
                @if (formatingData.DisplayRedTeamScore)
                {
                    <img class="red-team-score-banner" src="@formatingData.TeamScoreBanner">
                    <div class="red-team-score">
                        <div class="red-team-score-text-display" style="color: @formatingData.ColorRedTeamScoreText">
                            @formatingData.RedTeamScoreText
                        </div>
                    </div>
                }
                @*<div class="blue-team-banner" style="background-image: url(@formatingData.TeamBanner)"></div>*@
                @if (formatingData.DisplayRedTeamText)
                {
                    <img class="red-team-banner" src="@formatingData.TeamBanner">
                    <div class="red-team-text">
                        <div class="red-team-text-display" style="color: @formatingData.ColorRedTeamText">
                            @formatingData.RedTeamText
                        </div>
                    </div>
                }
            </div>
        }

        if (formatingData.DisplayHeraldBaronTimer)
        {

            <div class="herald-baron-timer">
                <img class="herald-baron-timer-frame" src="@formatingData.HeraldBaronTimerFrame">
            </div>
        }

        if (formatingData.DisplayBluePlayerFrame)
        {

            <div class="blue-player">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div class="blue-player-frame">
                            <img class="frame" src="@formatingData.BluePlayerFrame">
                        </div>
                    }
                }
            </div>
        }

        if (formatingData.DisplayRedPlayerFrame)
        {
            <div class="red-player">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div class="red-player-frame">
                            <img class="frame" src="@formatingData.RedPlayerFrame">
                        </div>
                    }
                }
            </div>
        }
        if (formatingData.DisplayLeftInfo)
        {
            <div class="left-info">
                <img class="left-info-all" src="@formatingData.LeftInfoFrame">
            </div>
        }
        if (formatingData.DisplayRightInfo)
        {
            <div class="right-info">
                <img class="right-info-all" src="@formatingData.RightInfoFrame">
            </div>
        }
    }

</div>

@code {
    private System.Timers.Timer timer = new(1000);

    protected override void OnInitialized()
    {
        timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
        timer.Start();
    }

    private void OnTimerCallback()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose() => timer.Dispose();
}
