@page "/fearless"
@using OSL_CDragon
@using OSL_Overlay.GameFlow.Fearless
@using OSL_RGDP.Schema.Riot
@using OSL_RGDP.WebSocketResponse
@inject FearlessState FearlessState
@inject CDragon _cdragon

<PageTitle>Fearless - Management</PageTitle>

<MudText Typo="Typo.h2" GutterBottom="true" Style="text-decoration-line: underline; font-weight:bold;"><b>Fearless management</b></MudText>
<MudStack Row="true" AlignItems="AlignItems.Center">
    <StyleFieldEditor Label="Number of fearless match to display"
                      Type="text"
                      Value="@($"{(_nbFearlessMatch).ToString()}")"
                      ValueChanged="v => OnStyleChanged(val => _nbFearlessMatch = val, v)" />

    <StyleFieldEditor Label="Match Id"
                      Type="text"
                      Value="@_idMatch"
                      ValueChanged="v => OnStyleChanged(val => _idMatch = val, v)"
                      HelperText="Just Id not region prefix" />
</MudStack>
<MudStack Row="true" AlignItems="AlignItems.Center">
    @for (int i = 1; i <= _nbFearlessMatch; i++)
    {
        int index = i;
        bool disableAdd = false;
        bool disableDelete = false;
        @if (index - 1 > FearlessState.FearlessList.Count)
        {
            disableAdd = true;
        }
        @if (index != FearlessState.FearlessList.Count)
        {
            disableDelete = true;
        }
        <MudStack Row="false">
            <SwitchButton Icon="@Icons.Material.Filled.AddBox"
                          Text="@($"Set match {index} {_idMatch}")"
                          OnClick="() => AddIdMatch(index -1)"
                          BackgroundColor="@Colors.Teal.Darken4"
                          HoverBackgroundColor="@Colors.Teal.Darken2"
                          TextColor="#ffffff"
                          MaxWidth="200px"
                          MaxHeight="60px"
                          BorderRadius="8px"
                          FontSize="16px"
                          Disabled="@disableAdd" />
            <SwitchButton Icon="@Icons.Material.Filled.AddBox"
                          Text="@($"Set match {index} manually")"
                          OnClick="() => AddCustomMatch(index -1)"
                          BackgroundColor="@Colors.Teal.Darken4"
                          HoverBackgroundColor="@Colors.Teal.Darken2"
                          TextColor="#ffffff"
                          MaxWidth="200px"
                          MaxHeight="60px"
                          BorderRadius="8px"
                          FontSize="16px"
                          Disabled="@disableAdd" />
            <SwitchButton Icon="@Icons.Material.Filled.Delete"
                          Text="@($"Delete match {index}")"
                          OnClick="() => DeleteFearlessIndex(index -1)"
                          BackgroundColor="@Colors.Red.Darken4"
                          HoverBackgroundColor="@Colors.Red.Darken2"
                          TextColor="#ffffff"
                          MaxWidth="230px"
                          MaxHeight="40px"
                          BorderRadius="8px"
                          FontSize="16px"
                          Disabled="@disableDelete" />
        </MudStack>
    }
    <SwitchButton Icon="@Icons.Material.Filled.SettingsBackupRestore"
                  Text="Reset"
                  OnClick="ResetFearlessList"
                  BackgroundColor="@Colors.Red.Darken4"
                  HoverBackgroundColor="@Colors.Red.Darken2"
                  TextColor="#ffffff"
                  MaxWidth="150px"
                  MaxHeight="40px"
                  BorderRadius="8px"
                  FontSize="16px" />
</MudStack>
<br />

<br />
<MudText Typo="Typo.h5" GutterBottom="true" Style="text-decoration-line: underline; font-weight:bold;"><b>List of fearless</b></MudText>
@foreach (var match in FearlessState.FearlessList)
{
    <MudStack Row="true" AlignItems="AlignItems.Center">
        @if (match[0].IdMatch != "0")
        {
            <div>
                Id match : @match[0].IdMatch
            </div>
        }
        else
        {
            <div>
                Manually
            </div>
        }
        @foreach (var team in match)
        {
            @foreach (var champion in team.Champions)
            {
                <div>
                    <img src="@champion.Image" width="36" height="36" />
                </div>
            }
        }
    </MudStack>
}

<br />
<MudText Typo="Typo.h5" GutterBottom="true" Style="text-decoration-line: underline; font-weight:bold;"><b>For set champ manually</b></MudText>

<MudStack Row="true" AlignItems="AlignItems.Center">
    @for (int i = 0; i < _nbPlayer - 5; i++)
    {
        int index = i;
        <StyleFieldEditor Type="champion-square-portrait-image"
                          Champions="@_cdragon.GetAllChampions()"
                          OnChampionSelected="@(champ => GetChampionSquare(index, champ))"
                          DefaultImage="@_cdragon.GetDefaultImage()" />
    }
</MudStack>
<MudStack Row="true" AlignItems="AlignItems.Center">
    @for (int i = 5; i < _nbPlayer; i++)
    {
        int index = i;
        <StyleFieldEditor Type="champion-square-portrait-image"
                          Champions="@_cdragon.GetAllChampions()"
                          OnChampionSelected="@(champ => GetChampionSquare(index, champ))"
                          DefaultImage="@_cdragon.GetDefaultImage()" />
    }
</MudStack>

@code {
    private string _idMatch = "7550999924";
    private int _index = 0;
    private int _nbFearlessMatch = 2;
    private int _nbPlayer = 10;

    private List<OSL_CDragon.Schema.Champion?> _selectedChampions = Enumerable.Repeat<OSL_CDragon.Schema.Champion?>(null, 10).ToList();

    private void GetChampionSquare(int index, OSL_CDragon.Schema.Champion champ)
    {
        _selectedChampions[index] = champ;
    }

    public async Task AddIdMatch(int index)
    {
        await FearlessState.MatchIdModeAsync(Convert.ToInt64(_idMatch), index);
    }
    public async Task AddCustomMatch(int index)
    {
        MatchDto matchDto = new();
        InfoDto infoDto = new();
        List<ParticipantDto> participantDto = new();
        for (int i = 0; i < _selectedChampions.Count; i++)
        {
            ParticipantDto player = new();
            if (_selectedChampions[i] != null)
            {
                player.ChampionId = _selectedChampions[i].Id;
            }
            else {
                player.ChampionId = 0;
            }
            if (i < 5)
            {
                player.TeamId = 100;
            }
            else
            {
                player.TeamId = 200;
            }
            participantDto.Add(player);
        }

        infoDto.Participants = participantDto;
        infoDto.GameId = 0;
        matchDto.Info = infoDto;
        FearlessMatchDto fearlessMatchDto = new(index, matchDto);

        FearlessState.AddFearlessList(fearlessMatchDto);
    }

    public void DeleteFearlessIndex(int index)
    {
        FearlessState.DeleteFearlessIndex(index);
    }

    public void ResetFearlessList()
    {
        _index = 0;
        FearlessState.ResetFearlessList();
    }

    private void OnStyleChanged(Action<string> setter, string newValue)
    {
        setter(newValue);
        RefreshUI();
    }

    private void OnStyleChanged(Action<int> setter, string newValue)
    {
        setter(Convert.ToInt32(newValue));
        RefreshUI();
    }

    private void RefreshUI()
    {
        InvokeAsync(StateHasChanged);
        FearlessState.NotifyStateChanged();
    }

    protected override void OnInitialized()
    {
        FearlessState.OnChange += async () => await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        FearlessState.OnChange -= async () => await InvokeAsync(StateHasChanged);
    }
}
