@page "/champselect/view1"
@using OSL_Overlay.Phase.ChampSelect
@inject ChampSelectState ChampState
<link rel="stylesheet" href="@Assets["css/champSelect/View1.css"]" />

<div class="champ-select">
    @* Blue Ban *@
    @foreach (var ban in Info.BlueTeam.Bans)
    {
        <ChampionBanSlot Team="@Info.BlueTeam.Side"
                         Ban="@ban" />
    }
    @* Red Ban *@
    @foreach (var ban in Info.RedTeam.Bans)
    {
        <ChampionBanSlot Team="@Info.RedTeam.Side"
                         Ban="@ban" />
    }
    @* Patch *@
    <PatchSlot Patch="@Info.Patch" />

    @* Blue Coach *@
    @if (Info.BlueTeam.Coach.Show)
    {
        <CoachSlot Team="@Info.BlueTeam.Side"
                   Coach="@Info.BlueTeam.Coach" />
    }
    @* Red Coach *@
    @if (Info.RedTeam.Coach.Show)
    {
        <CoachSlot Team="@Info.RedTeam.Side"
                   Coach="@Info.BlueTeam.Coach" />
    }
    @* Blue Timer *@
    @if (Info.BlueTeam.Timer.Show)
    {
        <TimerBarSlot Timer="@Info.BlueTeam.Timer" />
    }
    @* Red Timer *@
    @if (Info.RedTeam.Timer.Show)
    {
        <TimerBarSlot Timer="@Info.RedTeam.Timer" />
    }
    @* Red Timer *@
    @if (Info.CommonTimer.Show)
    {
        <TimerBarSlot Timer="@Info.CommonTimer" />
    }
    @* Teams *@
    <div class="teams" style="background:@Info.TeamsBackground;">
        @* Blue Team *@
        @foreach (var player in Info.BlueTeam.Picks)
        {
            <ChampionPickSlot Team="@Info.BlueTeam.Side"
                              Pick="@player" />
        }
        @* Red Team *@
        @foreach (var player in Info.RedTeam.Picks)
        {
            <ChampionPickSlot Team="@Info.RedTeam.Side"
                              Pick="@player" />
        }
    </div>
    @* Blue Team Info *@
    <TeamSlot Side="@Info.BlueTeam.Side"
              Team="@Info.BlueTeam" />
    <BoGraphicSlot Team="@Info.BlueTeam.Side"
                   Bo="@Info.BlueTeam.BoGraphic" />
    @* Red Team Info *@
    <TeamSlot Side="@Info.RedTeam.Side"
              Team="@Info.RedTeam" />
    <BoGraphicSlot Team="@Info.RedTeam.Side"
                   Bo="@Info.RedTeam.BoGraphic" />
    @* Phase *@
    <Txt Text="@Info.Phase" />
    @* Vs *@
    <Txt Text="@Info.Vs" />
</div>

@code {
    private ChampSelectInfo Info => ChampState.Info;

    protected override void OnInitialized()
    {
        ChampState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ChampState.OnChange -= StateHasChanged;
    }
}
